---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 1000px;
$on-laptop: 1000px;
$base-font-family: -apple-system, BlinkMacSystemFont, "Fira Mono", "Courier New", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@import "minima";


footer {
    background-color: #424242;
}

.footer-heading {
    color: white;
}

.footer-col-wrapper, .footer-col-wrapper svg {
    color: lightgray;
}

.footer-col-wrapper a {
    color: lightskyblue;
}

.footer-col-wrapper a:visited {
    color: #009dff;
}